            *
            {
                box-sizing: content-box;
                font-family: arial;
                text-align: center;
                text-decoration: none;
            }
            h2
            {
                       float: left;
                       color: green;
                       display: block;
            }
            body
            {
                background: black;
            }
            h1
            {
                font-weight: 600;
                color: blue;
            }
           .blueText {
                      color: blue;
           }
           .greenText {
                      color: green;
           }
           .redText {
                      color: red;
           }
           .orangeText {
                      color: orange;
           }
           .pinkText {
                      color: pink;
           }
           ul {
               list-style-type: none;
               margin: 0;
               padding: 0;
               overflow: hidden;
               background-color: #333;
           }
           
           li {
               float: left;
           }
           
           li a {
               display: block;
               color: white;
               text-align: center;
               padding: 14px 16px;
               text-decoration: none;
               font-weight: bold;
           }
           
           li a:hover {
               background-color: #111;
           }

           .largeImage {
                      width: 35%;
                      height: auto;
                      margin: auto;
                      text-align: center;
                      display: inline;
                      margin: 20px;
                      }
           .mediumImage {
                      width: 20%;
                      height: auto;
                      margin: auto;
                      text-align: center;
                      display: inline;
                      margin: 20px;
           }           
           .smallImage {
                      width: 10%;
                      height: auto;
                      margin: auto;
                      text-align: center;
                      display: inline;
                      margin: 20px;
           }
           .textContainer {
                      background-color: grey;
                      color: green;
                      width: 80%;
                      text-align: left;
                      left: 7px;
                      border-radius: 10px;
                      padding: 10px;
           }
           
           p {
                      color: orange;
                      display: block;
           }
