            *
            {
                box-sizing: content-box;
                font-family: arial;
            }
            body
            {
                
            }
            h1
            {
                text-align: center;
                font-weight: 600;
                color: darkgoldenrod;
                
            }
